html,body{
  height: 100%;
}

body{
  background-color: #eeeeee;
  font-family: 'Lato', Helvetica, sans-serif;
}
/*-----main container-----*/
.main-wrapper{
  width: 1060px;
  margin: 0 auto;
  display: flex;
}
.centered-wrapper{
  height: 100%;
  align-items: center;
  justify-content: center;
}
/*-----end-----*/
/*-----content-----*/
.image{
  width: 50%;
  padding: 10px;
  background: url('../images/plug.svg') no-repeat scroll center top transparent;
  height: 100%;
  background-size: cover;
  overflow: visible;
}

.text{
  width: 50%;
  padding-right: 20px;
}

.card{
  width: 100%;
  padding: 10px;
  text-align: left;
}

.card .exclamation{
  font-size: 54px;
  font-weight: bold;
  color: #1A415B;
  margin-bottom: 20px;
}

.error-title{
    color: #1274AB;
    margin-bottom: 10px;
    font-size: 20px;
}

.error-code{
  color: #b1b1b1;
  margin-bottom: 10px;
  font-size: 16px;
  font-style: italic;
}

.error-message{
  font-size: 15px;
  color: #555555;
}

.error-message a{
  font-weight: bold;
  text-decoration: none;
  color: #96C03C;
}

.logo {
    position: absolute;
    top: 20px;
    right: 20px;
}


/* Tablet Landscape */
@media screen and (max-width: 1060px) {
  .main-wrapper{
    width: 100%;
    flex-direction: column;
  }
  .centered-wrapper{
    justify-content: flex-start;
  }
  .image{
    width: 100%;
    height: 30%;
    background-size: contain;
  }
  .text{
    padding: 0 20px;
  }
  .card{
    text-align: center;
  }
  .logo {
    top: unset;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    bottom: 30px;
}
}
/* Tabled Portrait */
@media screen and (max-width: 768px) {
}
