
/* Tablet Landscape */
@media screen and (max-width: 1060px) {
  .main-wrapper{
    width: 100%;
  }
}
/* Tabled Portrait */
@media screen and (max-width: 768px) {
  .main-wrapper{
  }
  .row{
    flex-direction: column;
  }
  .first-col{
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .last-col{
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .v-spacer{
    display: none;
  }
  .col-8,.col-4{
    width: calc(100% - 40px);
  }
}

/* Tabled Portrait */
@media screen and (max-width: 520px) {
  .main-wrapper.centered-content{
    justify-content: flex-start;
  }
  section{
    width: calc(100% - 20px);
    margin: 0 auto;
  }
  #logincard{
    width: 100%;
  }
}
