body{
  background-color: #eeeeee !important;
}
/*-----global-----*/
a{
  color: #0073aa;
  pointer:cursor;
  text-decoration: none;
}

button:focus{
  outline: none;
  cursor: pointer;
}

.flag{
  width: 26px;
  height: 18px;
  display: block;
}

.flag-spa{
  background:url('../images/flags/spa.png');
  background-size: cover;
}

.flag-chi{
  background:url('../images/flags/chi.png');
  background-size: cover;
}

.custom-scroll::-webkit-scrollbar-track
{
  border-radius: 5px;
  background-color: #dddddd;
}

.custom-scroll::-webkit-scrollbar
{
  width: 6px;
  height: 6px;
  background-color: #dddddd;
}

.custom-scroll::-webkit-scrollbar-thumb
{
  border-radius: 5px;
  background-color: #b1b1b1;
}
/*-----end-----*/
/*-----grid-----*/
.row{
  display: flex;
}

.first-col{
  margin-left: auto !important;
}
.last-col{
  margin-right: auto !important;
}

.v-spacer{
  width: 1px;
  margin: 0.5rem 0;
  background-color: #cccccc;
}

.v-content{
  flex-direction: column;
}

.centered-content{
  align-items: center;
  justify-content: center;
  margin: 0 auto !important;
}
/*-----end-----*/
/*-----Header-----*/
header{
  background-color: white;
}
.nav-bar{
  align-items: center;
  display: flex;
  list-style: none;
  margin: 0 auto;
  min-height: 60px;
  padding: 0;
  max-width: 1060px;
}

.nav-bar .logo{
  width:223px;
}

.option-dropdown{
  font-size: 14px;
  padding: 0 16px;
  display: flex;
  align-items: center;
}

.option-dropdown.language{
  margin-left: auto;
}

.option-dropdown.language .flag{
  margin-right: 4px;
}

.option-dropdown.language .selected-language,
.option-dropdown.society .selected-society{
  margin-right: 5px;
}

.option-dropdown.user-perfil button{
  background: transparent;
  border:none;
  font-size: 21px;
}

.option-dropdown.user-perfil button i{
  color: #97bf0f;
}
/*-----end-----*/
/*-----main container-----*/
.main-wrapper{
  width: 1060px;
  margin: 0 auto !important;
}
/*-----end-----*/
/*-----card-----*/
.card{
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.04);
  padding: 10px;
  margin-bottom: 10px;
}

.card-head{
  min-width: 50px;
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
}

.card-head .title{
  width: calc(100% - 40px);
}

.card-head .title h5{
  margin: 0;
}

.card-head .options{
  margin-left: auto;
}

.card-head .options button{
  border:none;
  background: none;
  max-width: 30px;
}

.card-head .options button i{
  color: #ccc;
}

.card-content{
  display: flex;
}

.card-content .user-img{
  width: 100px;
  height: 100px;
  background-color: #efefef;
  margin-right: 10px;
  overflow: hidden;
}

.card-content .user-img img{
  width: 100px;
  height: 100px;
}

.card-content .user-data{
  width: calc(100% - 110px);
}

.card-content .user-data h3{
  margin: 0;
}

.card-content .user-data .country{
  display: flex;
  align-items: center;
}

.card-content .user-data .country .flag{
  width: 22px;
  height: 14px;
  margin-right: 5px;
}

.card-content .user-data .country span{
  color:#b5b5b5;
  font-size: 14px;
}

.card-content .user-data .about{
  margin-bottom: 10px;
}

.card-content .user-data .about p {
  font-size: 14px;
  font-style: italic;
  line-height: 1.4;
  color: #a0a0a0;
}

.card .tabs{
  display: flex;
  align-items: center;
}

.card .tabs .tab-option{
  width: 20%;
  padding: 5px;
  text-align: center;
  border-bottom: 1px solid #dddddd;
}

.card .tabs .tab-option a{
  display: block;
  height: 100%;
  width: 100%;
  color: #333447;
  font-size: 14px;
  font-weight: bold;
}

#tab-container,
.tab-content{
  position: relative;
}

#tab-container .card-content:before,
.card-content.tab1:before{
  content: '';
  position: absolute;
  width: 20%;
  height: 2px;
  background-color: #0073aa;
  top: 0;
}

#tab-container .card-content.tab1:before{
  left: 0;
}

#tab-container .card-content.tab2:before{
  left: 20%;
}

#tab-container .card-content.tab3:before{
  left: 40%;
}

#tab-container .card-content.tab4:before{
  left: 60%;
}

#tab-container .card-content.tab5:before{
  left: 80%;
}

.card-content .inner-content{
  padding: 10px;
  width: 100%;
}

.v-content .single-data {
  text-align: left;
  padding: 10px;
  margin-bottom: 10px;
}

.single-data{
  border-left: 2px solid;
}

.single-data:nth-child(3n - 2){
  border-color: #97bf0f;
}

.single-data:nth-child(3n - 1){
  border-color: #0073aa;
}

.single-data:nth-child(3n){
  border-color: #0e3b5c;;
}

.single-data .name{
  font-size: 12px;
  color: #b5b5b5;
  margin-bottom: -6px;
}

.single-data .value{
  font-weight: bold;
  font-size: 20px;
}

/*contenido juntas*/
.item-reunion{
  display: flex !important;
  align-items: center;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #dddddd;
}
.item-reunion:hover{
  transform: scale(1.03) !important;
}

.item-reunion .date{
  background-color: #97bf0f;
  width: 80px;
  height: 80px;
  border-radius: 5px;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item-reunion.past:nth-child(2) .puff-in-center{
  animation-delay:0.08s;
}

.item-reunion.past:nth-child(3) .puff-in-center{
  animation-delay:0.16s;
}

.item-reunion:last-child{
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

.item-reunion.past .date{
  background-color: #cccccc;
}

.item-reunion .date .day{
  color: white;
  font-size: 35px;
  font-weight: bold;
  line-height: 1;
}

.item-reunion .date .month{
  color: white;
  font-size: 12px;
  line-height: 1;
}

.item-reunion .date .year{
  color: white;
  font-size: 16px;
  line-height: 1;
}

.item-reunion .reunion-data{
  width: calc(100% - 180px);
  padding: 0 10px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.item-reunion .reunion-data .Name{
  line-height: 1;
  color: #555555;
}

.item-reunion.past .reunion-data .Name{
  color: #cccccc;
}

.item-reunion .reunion-data .Place{
  line-height: 1;
  font-size: 14px;
  color: #a0a0a0;
}

.item-reunion.past .reunion-data .Place{
  color: #cccccc;
}

.item-reunion .reunion-options{
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.item-reunion .reunion-options button{
  font-size: 14px;
  width: 80px;
  border: none;
  border-radius: 15px;
  height: 30px;
  cursor: pointer;
}

.item-reunion .reunion-options button i{
  color: white;
}

.item-reunion .reunion-options button.accept{
  background-color: #1fca68;
  margin-bottom: 5px;
}

.item-reunion.past .reunion-options button.accept{
  background-color: #cccccc;
  margin-bottom: 5px;
}

.item-reunion .reunion-options button.cancel{
  background-color: #ec3030;
}

/*downloable data*/
.downloable-data {
  overflow-x: scroll;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 10px;
}

.downloable-data .file-type{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 80px;
  max-width: 80px;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 80px;
  float: left;
  margin: 5px;
}

.downloable-data  a{
  display: block;
  height: 100%;
  width: 100%;
}

.downloable-data  a{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.downloable-data  a i{
  font-size: 25px;
}

.downloable-data a .file-data p {
  margin: 5px 0 0;
  font-size: 10px;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 70px;
}

.downloable-data a .file-data p.date {
  margin: 0;
  font-size: 10px;
  color: #afafaf;
}

.downloable-data .file-type-word i{
  color: #8181e6;
}

/*Accesos*/
.tool-slider {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tool-slider .tool-item {
    width: calc(20% - 30px);
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    padding-bottom: 10px;
    min-height: 100px;
    justify-content: center;
}

.tool-slider .tool-item:nth-child(1){
  background-color: #97bf0f;
  animation-delay: 0s;
}

.tool-slider .tool-item:nth-child(2){
  background-color: #2a9bd2;
  animation-delay: 0.03s;
}

.tool-slider .tool-item:nth-child(3){
  background-color: #2b638c;
  animation-delay: 0.06s;
}

.tool-slider .tool-item:nth-child(4){
  background-color: #d69f70;
  animation-delay: 0.09s;
}

.tool-slider .tool-item:nth-child(5){
  background-color: #78cedc;
  animation-delay: 0.12s;
}

.tool-slider .tool-item i{
  color: white;
}

.tool-slider .tool-item .tool-name{
  font-size: 12px;
  text-align: center;
  color: white;
}

.tool-slider .tool-item .link {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-indent: -9999px;
}

/*payment data*/
.payment-data{
}

.payment-data .payment{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 1px solid #dddddd;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.payment-data .payment .icon{
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 24px;
}

.payment-data .payment .icon i{
  color: #0e3b5c;
}

.payment-data .payment .data p{
  margin: 0;
  font-size: 14px;
  line-height: 1;
  font-weight: bold;
}

.payment-data .payment .data p.date{
  color: #afafaf;
  font-size: 12px;
  font-weight: normal;
}

/*Indicadores*/
.indicator-item {
    background-color: #eeeeee;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.indicator-item .data{
  width: calc(100% - 50px);
  margin-right: 10px;
}

.indicator-type {
    font-size: 12px;
    margin-bottom: -5px;
    color: #b5b5b5;
}

.indicator-Value{
  font-weight: bold;
  color: #555555;
}

.indicator-item .icon {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: #0073aa;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.indicator-item .icon i{
    color: #ffffff;
}

.card.w-footer{
  padding-bottom: 0;
}

.card-footer {
    display: flex;
    align-items: center;
    margin-left: -10px;
    margin-right: -10px;
    padding: 5px 10px;
    border-top: 1px solid #dddddd;
}

.card-footer .text{
  width: calc(100% - 80px);
}

.card-footer .text p{
  margin: 0;
  font-size: 12px;
  color: #ccc;
}

.card-footer .text p span{
  font-size: 12px;
  color: #ccc;
}

.card-footer .options{
  width: 80px;
  display: flex;
}

.card-footer .options button{
  height: 40px;
  width: 40px;
  background: transparent;
  border: none;
  margin-left: auto;
}

.card-footer .options button i{
  color:#cccccc;
}


/*footer*/
footer{
  /*position: absolute;*/
  bottom: 0;
  width: 100%;
}

footer .footer-container{
  height: 8px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer .footer-container .colour-bar{
  height: 8px;
  min-width: 33.333333%;
}

footer .footer-container .colour-bar:nth-child(1){
  background-color: #97bf0f;
}

footer .footer-container .colour-bar:nth-child(2){
  background-color: #0073aa;
}

footer .footer-container .colour-bar:nth-child(3){
  background-color: #0e3b5c;
}

/*login*/
.logo-login{
  margin-bottom: 40px;
}
#logincard{
  width: 500px;
  position: relative;
}

#logincard .login-title {
    font-size: 20px;
    width: 100%;
    text-align: center;
    color: #0f3c5d;
    margin-bottom: 40px;
    font-weight: bold;
}

#logincard .external-login{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  border-top: 1px solid #dddddd;
  margin-top: 10px;
  margin-bottom: 10px;
  flex-wrap: wrap;
}

#logincard .external-login-title{
  text-align: center;
  color: #ccc;
  width: 100%;
  margin-bottom: 10px;
  font-size: 14px;
}

#logincard .external-login button{
  background-color: transparent;
  height: 70px;
  width: 70px;
  border: 1px solid #f1efef;
  margin: 0 10px;
  overflow: hidden;
  text-indent: -9999px;
}

#logincard .external-login button.Google{
  background: url('../images/google-logo.svg') no-repeat scroll center center transparent;
  background-size: 60%;
}

#logincard .external-login button.Yahoo{
  background: url('../images/yahoo-logo.svg') no-repeat scroll center center transparent;
  background-size: 90%;
}

#logincard .external-login button.Microsoft{
  background: url('../images/microsoft-logo.svg') no-repeat scroll center center transparent;
  background-size: 70%;
}

#logincard .language-container{
  position: absolute;
  right: 0;
  top: 0;
}

#logincard .login-form{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

#logincard .login-form form{
  width: 80%;
}

#logincard .login-form form .form-element{
  margin-bottom: 20px;
  display: flex;
  position: relative;
}

#logincard .login-form form .form-element:focus{
  outline: unset !important;
}

#logincard .login-form form .form-element i{
  display: block;
  height: 30px;
  width: 30px;
  line-height: 30px;
  text-align: center;
  color: #ccc;
}


#logincard .login-form form .form-element .effect{
    width: 0;
    height: 1px;
    position: absolute;
    margin-left: 30px;
    bottom: 0;
    z-index: 2;
    transition: width ease 0.5s;
}

#logincard .login-form form .form-element:focus-within > .effect{
  background-color: #0173aa;
  width: calc(100% - 40px);
}

#logincard .login-form form .form-element input{
  width: calc(100% - 40px);
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #ccc;
}

#logincard .login-form form .form-element input::placeholder {
  color: #ccc;
  font-size: 14px;
}

#logincard .login-form form .form-element input:focus {
  outline: unset !important;
}

#logincard .login-form form .form-element.input-type-submit{
  margin-bottom: 20px;
}

#logincard .login-form form .form-element button.login {
    background-color: #97bf0f;
    border: none;
    color: white;
    width: 130px;
    padding: 5px 10px;
    border-radius: 50px;
    margin: 0 auto;
    font-size: 16px;
}
